<header class="sticky top-0 z-0">
  <nav class="flex flex-col w-full md:flex-row items-stretch md:items-center text-blue-900 px-5 md:px-10 lg:px-20 l-blue-gradient">
    <div class="self-center md:self-auto">
      <h1 class="text-4xl font-bold header-name leading-tight md:pb-4 pt-2">Alistair Divorty</h1>
    </div>
    <ul class="flex flex-row justify-around items-stretch flex-grow nav-links lg:px-10 py-4">
      <li class="flex flex-col justify-center">
        <%= link_to "#home", data: { page: "home" }, class: "font-bold leading-tight z-30 styled-link" do %>
          Home
        <% end %>
      </li>
      <li class="flex flex-col justify-center">
        <%= link_to "#projects", data: { page: "projects" }, class: "font-bold leading-tight z-30 styled-link" do %>
          Projects
        <% end %>
      </li>
      <li class="flex flex-col justify-center">
        <%= link_to "#contact", data: { page: "contact" }, class: "font-bold leading-tight z-30 styled-link" do %>
          Contact
        <% end %>
      </li>
      <div class="z-10 pill"></div>
    </ul>
  </nav>
</header>
