<header class="mb-4">
  <nav class="flex flex-row justify-center items-center px-3 py-3 text-gray-700 bg-gray-300 px-5 md:px-10 lg:px-20 nav">
    <ul class="flex flex-row justify-evenly md:w-3/4 lg:w-1/2 items-stretch nav-links">
      <li class="flex flex-col justify-center p-3">
        <%= link_to "#", data: { page: "home" }, class: "font-bold leading-tight" do %>
          Home
        <% end %>
      </li>
      <li class="flex flex-col justify-center p-3">
        <%= link_to "#", data: { page: "projects" }, class: "font-bold leading-tight" do %>
          Projects
        <% end %>
      </li>
      <li class="flex flex-col justify-center p-3">
        <%= link_to "#", data: { page: "contact" }, class: "font-bold leading-tight" do %>
          Contacts
        <% end %>
      </li>
    </ul>
  </nav>
</header>
